body {
    background-color: #f2f0a1;
}

h1 {
    color: black;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.flex-container {
    padding: auto;
    margin: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}
    .flex-item {
        width: 75px;
        height: 75px;
        background-color: white;
        border: 3px solid black;
    }

img {
    max-height: 75%;
    max-width: 75%;
    display: block;
    margin: auto;
    margin-top:10px;
}

.flex-container-nav {
    padding: auto;
    margin: auto;
    margin-top: 50px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: center;
}
    .flex-item-nav {
        margin: 10px;
        width: 75px;
        height: 75px;
    }
    

.btn-round {
    display:block;
    width: 100px;
    height:100px;
    line-height:100px;
    border: 3px solid black;
    border-radius: 50%;
    color:black;
    text-align:center;
    text-decoration:none;
    background: #f2f079;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}

input[type=radio] {
    border: 2px solid black;
		width: 25%;
	  height: 25%;
    font-size: 10px;
    font-weight: bold;
		padding: auto;
}

#btnSubmit {
	display: block;
	text-align:center;
	text-decoration:none;
	background: #f2f079;
	box-shadow: 0 0 3px gray;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
	border-radius: 5px;
	border: 3px solid black;
	height: 40px;
	width: 80px;
}

button:active {
    vertical-align: bottom;
    padding: 5px 10px 3px;
}
